.body_backgorund 
{
    background-image:url(ac2405b8cd6df78d9829fdad7e33ae1c.gif);
    background-position:center;
    background-size:cover;
}

#myCanvas{

    border-width: 10px;
    background-image: url(BirthdayImage.jpg);
    border-style: ridge;
    border-color: darkviolet;

}